<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NoMail</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NoMail</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.129153074260-ek9chll55ieif8e39gv6qupb7d2tmpiv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GIDClientID</key>
	<string>129153074260-ek9chll55ieif8e39gv6qupb7d2tmpiv.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlecalendar</string>
		<string>googlegmail</string>
		<string>gpay</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>credpay</string>
		<string>amazonpay</string>
		<string>delhivery</string>
		<string>bluedart</string>
		<string>dtdc</string>
		<string>ekart</string>
		<string>xpressbees</string>
		<string>ecomexpress</string>
		<string>indiapost</string>
		<string>shadowfax</string>
		<string>shiprocket</string>
		<string>fedex</string>
		<string>dhl</string>
		<string>ups</string>
		<string>com.amazon.mobile.shopping</string>
		<string>flipkart</string>
		<string>myntra</string>
		<string>ajio</string>
		<string>meesho</string>
		<string>nykaa</string>
		<string>zepto</string>
		<string>blinkit</string>
		<string>swiggy</string>
		<string>zomato</string>
		<string>jiomart</string>
		<string>tatacliq</string>
		<string>bigbasket</string>
		<string>makemytrip</string>
		<string>cleartrip</string>
		<string>ixigo</string>
		<string>irctc</string>
		<string>goindigo</string>
		<string>zoomus</string>
		<string>msteams</string>
		<string>webex</string>
		<string>comgooglemaps</string>
		<string>uber</string>
		<string>olacabs</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>FlutterSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
